.btn-class {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid $aux-darker;
    padding: .7rem 1.5rem;
    @include makeRem(15);
    border-radius: 5px;
    background-color: #fff;
    color: $aux-darker;
    transition: background-color 0.2s;
    cursor: pointer;
    margin: 10px 0 5px;
    font-size: 13px;
    &:hover, &:focus, &:active {
        background-color: $aux-light;
    }
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

