<div class="form-input documents-list">

    <div class="document-el">
        <label for="doc-1">Nazwa dokumentu</label>
        <div class="input-wrap">
            <span class="input-title label-span">Potrzeba</span>
            <span class="input-title label-span">Jest</span>
        </div>
    </div>

    <div class="document-el">
        <label class="grayed" for="doc-1">Document 1</label>
        <div class="input-wrap">
            <input class="input-number" type="number" id="doc-1" name="doc1" min="0">
            <input class="input-number" type="number" id="doc-1-1" name="doc1" min="0">
        </div>
    </div>

    <div class="document-el">
        <label class="grayed" for="doc-2">Document 2</label>
        <div class="input-wrap">
            <input class="input-number" type="number" id="doc-2" name="doc1" min="0">
            <input class="input-number" type="number" id="doc-2-1" name="doc1" min="0">
        </div>    </div>

    <div class="document-el">
        <label class="grayed" for="doc-3">Document 3</label>
        <div class="input-wrap">
            <input class="input-number" type="number" id="doc-3" name="doc1" min="0">
            <input class="input-number" type="number" id="doc-3-1" name="doc1" min="0">
        </div>    </div>

    <div class="document-el">
        <label class="grayed" for="doc-4">Document 4</label>
        <div class="input-wrap">
            <input class="input-number" type="number" id="doc-4" name="doc1" min="0">
            <input class="input-number" type="number" id="doc-4-1" name="doc1" min="0">
        </div>
    </div>

</div>
