<div class="form-input if-1">
    <label>Typ aktu</label>
    <select class="form-control selectpicker" id="select-type" data-live-search="true">
        <option selected disabled value="no">Wybierz</option>
        <option value="yes" data-price="yes" data-credit="yes" data-duty="yes" data-tax="yes" data-charge="yes">
            Sprzedaż
        </option>
        <option value="yes" data-price="yes" data-credit="yes" data-duty="yes" data-tax="yes" data-charge="yes">
            Przedwstępna sprzedaż
        </option>
        <option value="yes" data-price="yes" data-credit="yes" data-duty="yes" data-tax="yes" data-charge="yes">
            Warunkowa sprzedaż
        </option>
        <option value="yes" data-price="yes" data-credit="yes" data-duty="no" data-tax="yes" data-charge="yes">
            Przeniesienie własności
        </option>
        <option value="yes" data-price="value" data-duty="yes" data-othertax="yes">Darowizna</option>
        <option value="yes" data-price="yes" data-duty="yes" data-tax="yes" data-othertax="yes"
                data-charge="yes">Dział spadku
        </option>
        <option value="yes" data-price="yes" data-duty="yes" data-tax="yes" data-othertax="yes"
                data-charge="yes">Dział spadku + zniesienie własności
        </option>
        <option value="yes" data-price="yes" data-duty="yes" data-tax="yes" data-othertax="yes"
                data-charge="yes">Zniesienie współwłasności
        </option>
        <option value="no" data-price="no" data-duty="no">Deweloperska</option>
        <option value="no" data-price="no" data-duty="no">Ustanowienie odrębnej własności</option>
        <option value="no" data-price="no" data-duty="no">APD</option>
        <option value="yes" data-price="yes" data-duty="yes">Umowa majątkowa małżeńska</option>
        <option value="yes" data-price="yes" data-duty="yes" data-tax="yes" data-charge="yes">UMM + podział
            majątku
        </option>
        <option value="yes" data-price="yes" data-duty="yes" data-tax="yes" data-charge="yes">Podział majątku
        </option>
        <option value="yes" data-price="yes" data-duty="yes" data-charge="yes">Dożywocie</option>
        <option value="no" data-price="no" data-duty="no">Protokół spółki</option>
        <option value="no" data-price="no" data-duty="no">Pełnomocnictwo</option>
        <option value="no" data-price="no" data-duty="no">Odrzucenie spadku</option>
        <option value="other" data-price="no" data-duty="no">Inne</option>
    </select>
</div>
