<div class="question if-withprice">
    <span class="label-span">Ustanowienie hipoteki</span>
    <input type="radio" id="takhipoteka" name="hipoteka" value="tak">
    <label class="smaller" for="takhipoteka">Tak</label>
    <input type="radio" id="niehipoteka" name="hipoteka" value="nie">
    <label class="smaller" for="niehipoteka">Nie</label>
    <input type="radio" id="niedotyczyhipoteka" name="hipoteka" value="niedotyczy">
    <label class="small" for="niedotyczyhipoteka">Nie dotyczy</label>
</div>

<div class="question if-withprice">
    <span class="label-span">Roszczenie o przeniesienie hipoteki</span>
    <input type="radio" id="takprzeniesienie" name="przeniesienie" value="tak">
    <label class="smaller" for="takprzeniesienie">Tak</label>
    <input type="radio" id="nieprzeniesienie" name="przeniesienie" value="nie">
    <label class="smaller" for="nieprzeniesienie">Nie</label>
    <input type="radio" id="niedotyczyprzeniesienie" name="przeniesienie" value="niedotyczyprzeniesienie">
    <label class="small" for="niedotyczyprzeniesienie">Nie dotyczy</label>
</div>
