<div class="nextDiv if-withprice">
    <!--    <span class="label-span">Termin płatności <br>1 transzy:</span>-->
    <!--    <input type="radio" class="przedaktem" id="przedaktem" data-date="date-0" name="termin" value="przedaktem">-->
    <!--    <label class="smaller-label przedaktem" for="przedaktem">Przed aktem</label>-->
    <!--    <input type="radio" class="tensam" id="tensam" data-date="date-0" name="termin" value="tensam">-->
    <!--    <label class="smaller-label" for="tensam">W dniu aktu</label>-->
    <!--    <input type="radio" class="inny" id="inny-0" data-date="date-0" name="termin" value="inny">-->
    <!--    <label class="smaller-label" for="inny-0">Inny</label>-->

    <!--    <div class="form-input row date" id="date-0">-->
    <!--        <span for="example-date-input" class="label-span">Wpisz termin:</span>-->
    <!--        <input class="form-control date-input" type="text" placeholder="dd.mm.rrrr lub opisowo">-->
    <!--    </div>-->

    <div class="form-input other-doc">
        <label class="if-przeniesienie accent">Nie wypełniaj jeśli identycznie jak w warunkowej</label>
        <label>Wysokość i termin transzy 1, na czyją rzecz</label>
        <textarea rows="5"></textarea>
    </div>

    <div class="question if-withprice">
        <span class="label-span">Płatność przelewem:</span>
        <input type="radio" class="przelew" id="przelew" name="platnosc" value="przelew">
        <label class="small" for="przelew">Tak</label>
        <input type="radio" class="gotowka" id="gotowka" name="platnosc" value="gotowka">
        <label class="small" for="gotowka">Nie</label>
    </div>

    <div class="form-input account">
        <label for="numer">Numer konta</label>
        <input type="number" id="numer" name="numer" min="0">
    </div>

    <div class="form-input account">
        <label for="numer">Posiadacz konta</label>
        <input type="text" id="posiadacz" name="posiadacz">
    </div>

    <button type="button" class="btn-class add-next" data-next="next-1">Dodaj kolejną transzę</button>
</div>

<div class="nextDiv" id="next-1">
    <!--    <span class="label-span">Termin płatności <br>2 transzy:</span>-->
    <!--    <input type="radio" class="tensam" id="tensam-1" data-date="date-1" name="termin-1" value="tensam">-->
    <!--    <label class="small" for="tensam-1">W dniu aktu</label>-->
    <!--    <input type="radio" class="inny" id="inny-1" data-date="date-1" name="termin-1" value="inny">-->
    <!--    <label class="small" for="inny-1">Inny</label>-->

    <!--    <div class="form-input row date" id="date-1">-->
    <!--        <span for="example-date-input" class="label-span">Wybierz termin:</span>-->
    <!--        <input class="form-control date-input" type="text" placeholder="dd.mm.rrrr lub opisowo">-->
    <!--    </div>-->

    <div class="form-input other-doc">
        <label>Wysokość i termin transzy 2, na czyją rzecz</label>
        <textarea rows="5"></textarea>
    </div>

    <div class="question if-withprice">
        <span class="label-span">Płatność przelewem:</span>
        <input type="radio" class="przelew" id="przelew2" name="platnosc2" value="przelew">
        <label class="small" for="przelew2">Tak</label>
        <input type="radio" class="gotowka" id="gotowka2" name="platnosc2" value="gotowka">
        <label class="small" for="gotowka2">Nie</label>
    </div>

    <div class="form-input account">
        <label for="numer2">Numer konta</label>
        <input type="number" id="numer2" name="numer" min="0">
    </div>

    <div class="form-input account">
        <label for="posiadacz2">Posiadacz konta</label>
        <input type="text" id="posiadacz2" name="posiadacz">
    </div>

    <button type="button" class="btn-class add-next" data-next="next-2">Dodaj kolejną transzę</button>
</div>

<div class="nextDiv" id="next-2">
    <!--    <span class="label-span">Termin płatności <br>3 transzy:</span>-->
    <!--    <input type="radio" class="tensam" id="tensam-2" data-date="date-2" name="termin-2" value="tensam">-->
    <!--    <label class="small" for="tensam-2">W dniu aktu</label>-->
    <!--    <input type="radio" class="inny" id="inny-2" data-date="date-2" name="termin-2" value="inny">-->
    <!--    <label class="small" for="inny-2">Inny</label>-->

    <!--    <div class="form-input row date" id="date-2">-->
    <!--        <span for="example-date-input" class="label-span">Wybierz termin:</span>-->
    <!--        <input class="form-control date-input" type="text" placeholder="dd.mm.rrrr lub opisowo">-->
    <!--    </div>-->

    <div class="form-input other-doc">
        <label>Wysokość i termin transzy 3, na czyją rzecz</label>
        <textarea rows="5"></textarea>
    </div>

    <div class="question if-withprice">
        <span class="label-span">Płatność przelewem:</span>
        <input type="radio" class="przelew" id="przelew3" name="platnosc3" value="przelew">
        <label class="small" for="przelew3">Tak</label>
        <input type="radio" class="gotowka" id="gotowka3" name="platnosc3" value="gotowka">
        <label class="small" for="gotowka3">Nie</label>
    </div>

    <div class="form-input account">
        <label for="numer3">Numer konta</label>
        <input type="number" id="numer3" name="numer" min="0">
    </div>

    <div class="form-input account">
        <label for="posiadacz3">Posiadacz konta</label>
        <input type="text" id="posiadacz3" name="posiadacz">
    </div>

    <button type="button" class="btn-class add-next" data-next="next-3">Dodaj kolejną transzę</button>
</div>

<div class="nextDiv" id="next-3">
    <!--    <span class="label-span">Termin płatności <br>4 transzy:</span>-->
    <!--    <input type="radio" class="tensam" id="tensam-3" data-date="date-3" name="termin-3" value="tensam">-->
    <!--    <label class="small" for="tensam-3">W dniu aktu</label>-->
    <!--    <input type="radio" class="inny" id="inny-3" data-date="date-3" name="termin-3" value="inny">-->
    <!--    <label class="small" for="inny-3">Inny</label>-->

    <!--    <div class="form-input row date" id="date-3">-->
    <!--        <span for="example-date-input" class="label-span">Wybierz termin:</span>-->
    <!--        <input class="form-control date-input" type="text" placeholder="dd.mm.rrrr lub opisowo">-->
    <!--    </div>-->

    <div class="form-input other-doc">
        <label>Wysokość i termin transzy 4, na czyją rzecz</label>
        <textarea rows="5"></textarea>
    </div>

    <div class="question if-withprice">
        <span class="label-span">Płatność przelewem:</span>
        <input type="radio" class="przelew" id="przelew4" name="platnosc4" value="przelew">
        <label class="small" for="przelew4">Tak</label>
        <input type="radio" class="gotowka" id="gotowka4" name="platnosc4" value="gotowka">
        <label class="small" for="gotowka4">Nie</label>
    </div>

    <div class="form-input account">
        <label for="numer4">Numer konta</label>
        <input type="number" id="numer4" name="numer" min="0">
    </div>

    <div class="form-input account">
        <label for="posiadacz4">Posiadacz konta</label>
        <input type="text" id="posiadacz4" name="posiadacz">
    </div>

    <button type="button" class="btn-class add-next" data-next="next-4">Dodaj kolejną transzę</button>
</div>

<div class="nextDiv" id="next-4">
    <!--    <span class="label-span">Termin płatności <br>5 transzy:</span>-->
    <!--    <input type="radio" class="tensam" id="tensam-4" data-date="date-4" name="termin-4" value="tensam">-->
    <!--    <label class="small" for="tensam-4">W dniu aktu</label>-->
    <!--    <input type="radio" class="inny" id="inny-4" data-date="date-4" name="termin-4" value="inny">-->
    <!--    <label class="small" for="inny-4">Inny</label>-->

    <!--    <div class="form-input row date" id="date-4">-->
    <!--        <span for="example-date-input" class="label-span">Wybierz termin:</span>-->
    <!--        <input class="form-control date-input" type="text" placeholder="dd.mm.rrrr lub opisowo">-->
    <!--    </div>-->

    <div class="form-input other-doc">
        <label>Wysokość i termin transzy 5, na czyją rzecz</label>
        <textarea rows="5"></textarea>
    </div>

    <div class="question if-withprice">
        <span class="label-span">Płatność przelewem:</span>
        <input type="radio" class="przelew" id="przelew5" name="platnosc5" value="przelew">
        <label class="small" for="przelew5">Tak</label>
        <input type="radio" class="gotowka" id="gotowka5" name="platnosc5" value="gotowka">
        <label class="small" for="gotowka5">Nie</label>
    </div>

    <div class="form-input account">
        <label for="numer5">Numer konta</label>
        <input type="number" id="numer5" name="numer" min="0">
    </div>

    <div class="form-input account">
        <label for="posiadacz5">Posiadacz konta</label>
        <input type="text" id="posiadacz5" name="posiadacz">
    </div>

    <button type="button" class="btn-class add-next-final">Dodaj kolejną transzę</button>
</div>

<div class="nextDiv next-final">
    <div class="form-input">
        <label>Wysokość i termin pozostałych transz, na czyją rzecz, sposób płatności,
            (w przypadku przelewu: numer konta, posiadacz konta)</label>
        <textarea rows="6"></textarea>
    </div>
</div>
