<div class="question nextDiv if-3">
    <span class="label-span">Termin płatności <br>1 transzy:</span>
    <input type="radio" class="tensam" id="tensam" data-date="date-0" name="termin" value="tensam">
    <label class="small" for="tensam">W dniu aktu</label>
    <input type="radio" class="inny" id="inny-0" data-date="date-0" name="termin" value="inny">
    <label class="small" for="inny-0">Inny</label>

    <div class="form-input row date" id="date-0">
        <span for="example-date-input" class="label-span">Wybierz termin:</span>
        <input class="form-control date-input" type="date" value="2011-08-19" id="example-date-input">
    </div>

    <button type="button" class="btn-class if-3 add-next" data-next="next-1">Dodaj termin płatności kolejnej transzy</button>
</div>

<div class="question nextDiv" id="next-1">
    <span class="label-span">Termin płatności <br>2 transzy:</span>
    <input type="radio" class="tensam" id="tensam-1" data-date="date-1" name="termin-1" value="tensam">
    <label class="small" for="tensam-1">W dniu aktu</label>
    <input type="radio" class="inny" id="inny-1" data-date="date-1" name="termin-1" value="inny">
    <label class="small" for="inny-1">Inny</label>

    <div class="form-input row date" id="date-1">
        <span for="example-date-input" class="label-span">Wybierz termin:</span>
        <input class="form-control date-input" type="date" value="2011-08-19" id="example-date-input-1">
    </div>

    <button type="button" class="btn-class add-next" data-next="next-2">Dodaj termin płatności kolejnej transzy</button>
</div>

<div class="question nextDiv" id="next-2">
    <span class="label-span">Termin płatności <br>3 transzy:</span>
    <input type="radio" class="tensam" id="tensam-2" data-date="date-2" name="termin-2" value="tensam">
    <label class="small" for="tensam-2">W dniu aktu</label>
    <input type="radio" class="inny" id="inny-2" data-date="date-2" name="termin-2" value="inny">
    <label class="small" for="inny-2">Inny</label>

    <div class="form-input row date" id="date-2">
        <span for="example-date-input" class="label-span">Wybierz termin:</span>
        <input class="form-control date-input" type="date" value="2011-08-19" id="example-date-input-2">
    </div>

    <button type="button" class="btn-class add-next" data-next="next-3">Dodaj termin płatności kolejnej transzy</button>
</div>

<div class="question nextDiv" id="next-3">
    <span class="label-span">Termin płatności <br>4 transzy:</span>
    <input type="radio" class="tensam" id="tensam-3" data-date="date-3" name="termin-3" value="tensam">
    <label class="small" for="tensam-3">W dniu aktu</label>
    <input type="radio" class="inny" id="inny-3" data-date="date-3" name="termin-3" value="inny">
    <label class="small" for="inny-3">Inny</label>

    <div class="form-input row date" id="date-3">
        <span for="example-date-input" class="label-span">Wybierz termin:</span>
        <input class="form-control date-input" type="date" value="2011-08-19" id="example-date-input-3">
    </div>

    <button type="button" class="btn-class add-next" data-next="next-4">Dodaj termin płatności kolejnej transzy</button>
</div>

<div class="question nextDiv" id="next-4">
    <span class="label-span">Termin płatności <br>5 transzy:</span>
    <input type="radio" class="tensam" id="tensam-4" data-date="date-4" name="termin-4" value="tensam">
    <label class="small" for="tensam-4">W dniu aktu</label>
    <input type="radio" class="inny" id="inny-4" data-date="date-4" name="termin-4" value="inny">
    <label class="small" for="inny-4">Inny</label>

    <div class="form-input row date" id="date-4">
        <span for="example-date-input" class="label-span">Wybierz termin:</span>
        <input class="form-control date-input" type="date" value="2011-08-19" id="example-date-input-4">
    </div>

    <button type="button" class="btn-class add-next-final">Dodaj termin płatności kolejnej transzy</button>
</div>

<div class="form-input nextDiv next-final">
    <label class="label-span">Termin płatności kolejnych transzy:</label>
    <textarea rows="4"></textarea>
</div>
