<div class="form-input if-sprzedazwar checklist">
    <label>Komu przysługuje pierwokup</label>
    <div class="form-input row">
        <input class="checkbox-input" type="checkbox" id="kowr" name="pierwokup" value="kowr">
        <label class="nomargin" for="kowr">KOWR</label>
    </div>
    <div class="form-input row">
        <input class="checkbox-input" type="checkbox" id="lasy" name="pierwokup" value="lasy">
        <label class="nomargin" for="lasy">Lasy</label>
    </div>
    <div class="form-input row">
        <input class="checkbox-input" type="checkbox" id="gmina" name="pierwokup" value="gmina">
        <label class="nomargin" for="gmina">Gmina</label>
    </div>
    <div class="form-input row">
        <input class="checkbox-input" type="checkbox" id="strefa" name="pierwokup" value="strefa">
        <label class="nomargin" for="strefa">Specjalna Strefa Ekonomiczna</label>
    </div>
    <div class="form-input row">
        <input class="checkbox-input" type="checkbox" id="zasob" name="pierwokup" value="zasob">
        <label class="nomargin" for="zasob">Krajowy Zasób Nieruchomości</label>
    </div>
    <div class="form-input row">
        <input class="checkbox-input" type="checkbox" id="wody" name="pierwokup" value="wody">
        <label class="nomargin" for="wody">Wody - SP</label>
    </div>
    <div class="form-input row">
        <input class="checkbox-input" type="checkbox" id="wspolwlasciciel" name="pierwokup" value="wspolwlasciciel">
        <label class="nomargin" for="wspolwlasciciel">Współwłaściciel / współuprawniony</label>
    </div>
    <div class="form-input row">
        <input class="checkbox-input" type="checkbox" id="sprzedazwarinne" name="Inne" value="sprzedazwarinne">
        <label class="nomargin" for="sprzedazwarinne">Inne</label>
    </div>
</div>
