<div class="form-input nomargin if-3">
    <div class="form-input changeform">
        <label class="cena changelabel" for="cena">Cena [zł]</label>
        <input type="number" id="cena" class="changeinput" name="cena" min="0">
    </div>
    <div class="form-input row">
        <input class="checkbox-input" type="checkbox" id="cenanieznana" name="nieznana" value="nieznana">
        <label class="nomargin" for="cenanieznana">Cena nieznana</label>
    </div>
</div>

<div class="form-input nomargin if-4">
    <div class="form-input changeform">
        <label class="wartosc changelabel" for="wartosc">Wartość</label>
        <input type="number" id="wartosc" class="changeinput" name="wartosc" min="0">
    </div>
    <div class="form-input row">
        <input class="checkbox-input" type="checkbox" id="wartoscnieznana" name="nieznana" value="nieznana">
        <label class="nomargin" for="wartoscnieznana">Wartość nieznana</label>
    </div>
</div>
