<div class="form-input if-sprzedazwar">
    <label>W jakim terminie po odpowiedziach uprawnionych z pierwokupu strony zobowiązują się zawrzeć umowę
        przeniesienia?
    </label>
    <input type="text">
</div>

<div class="form-input if-sprzedazprzed">
    <label>Termin zawarcia umowy przyrzeczonej - opisz czy data "na sztywno" czy X dni od dnia ziszczenia się
        warunku/warunków
    </label>
    <textarea rows="4"></textarea>
</div>

<div class="form-input if-darowizna">
    <label>Opis ustanawianej służebności - jeśli dotyczy
    </label>
    <textarea rows="4"></textarea>
</div>

<div class="form-input if-dozywocie">
    <label>Opis ustanawianej służebności - jeśli dotyczy
    </label>
    <textarea rows="4"></textarea>
</div>

<div class="form-input if-dzialzniesienie">
    <label>Opis ustanawianej służebności - jeśli dotyczy
    </label>
    <textarea rows="4"></textarea>
</div>

<div class="form-input if-darowizna">
    <label>Informacja czy zwolnienie ze schedy, czy zwolnienie z art. 4a SD, wysokość podatku
    </label>
    <textarea rows="4"></textarea>
</div>

<div class="form-input if-dzialzniesienie">
    <label>Sposób zapłaty dopłat/spłat - jeśli dotyczy
    </label>
    <textarea rows="4"></textarea>
</div>

<div class="form-input if-podzial">
    <label>Sposób zapłaty dopłat/spłat - jeśli dotyczy
    </label>
    <textarea rows="4"></textarea>
</div>

<div class="form-input if-dzialzniesienie">
    <label>Wartość nieruchomości, informacja czy zwolnienie z art. 4a SD
    </label>
    <textarea rows="4"></textarea>
</div>

<div class="form-input if-podzial">
    <label>Opis długów, co do których samodzielnej spłaty zobowiązują się strony - jeśli dotyczy
    </label>
    <textarea rows="4"></textarea>
</div>

<div class="question if-ustanowienie">
    <span class="label-span">Hipoteka</span>
        <input type="radio" id="hipotekaustanowienie" name="hipoteka" value="tak">
        <label class="smaller" for="hipotekaustanowienie">Tak</label>
        <input type="radio" id="niehipotekaustanowienie" name="hipoteka" value="nie">
        <label class="smaller" for="niehipotekaustanowienie">Nie</label>
        <input type="radio" id="niedotyczyhipotekaustanowienie" name="hipoteka" value="niedotyczy">
        <label class="small" for="niedotyczyhipotekaustanowienie">Nie dotyczy</label>
</div>

<div class="form-input if-deweloperska">
    <label for="files">Skan karty transakcji od dewelopera (załaduj dokumenty)
    </label>
    <input class="upload" type="file" id="files" name="filename" multiple>
    <!--    <button type="submit" onclick="return false" class="btn-class">zatwierdź</button>-->
</div>

<div class="form-input if-ustanowienie">
    <label for="files1">Skan karty transakcji od dewelopera (załaduj dokumenty)
    </label>
    <input class="upload" type="file" id="files1" name="filename" multiple>
    <!--    <button type="submit" onclick="return false" class="btn-class">zatwierdź</button>-->
</div>

<div class="form-input if-deweloperska">
    <label>Numer lokalu, info o miejscach parkingowych i postojowych, komórkach i inne informacje dotyczące czynności -
        jeśli nie wynikają z karty transakcji dewelopera</label>
    <textarea rows="4"></textarea>
</div>

<div class="form-input if-ustanowienie">
    <label>Numer lokalu, info o miejscach parkingowych i postojowych, komórkach i inne informacje dotyczące czynności -
        jeśli nie wynikają z karty transakcji dewelopera</label>
    <textarea rows="4"></textarea>
</div>

<div class="question if-apd">
    <span class="label-span">Przyjęcie spadku</span>
    <input type="radio" id="spadek" name="spadek" value="tak">
    <label class="smaller" for="spadek">Tak</label>
<!--    <input type="radio" id="niehipotekaustanowienie" name="hipoteka" value="nie">-->
<!--    <label class="smaller" for="niehipotekaustanowienie">Nie</label>-->
    <input type="radio" id="niespadek" name="spadek" value="niedotyczy">
    <label class="small" for="niespadek">Nie dotyczy</label>
</div>

<div class="form-input if-apd">
    <label>
        Powiaty położenia spadku
    </label>
    <textarea rows="2"></textarea>
</div>

<div class="form-input if-apd">
    <label>
        Brakujące dokumenty
    </label>
    <textarea rows="3"></textarea>
</div>
