<div class="form-input if-2">
    <label>Przedmiot umowy</label>
    <select class="form-control selectpicker" id="selectobject" data-live-search="true">
        <option selected disabled value="no">Wybierz</option>
        <option>Lokal</option>
        <option>Spółdzielcze własnościowe</option>
        <option>Własność gruntu rolnego</option>
        <option>Własność gruntu nierolnego</option>
        <option>Użytkowanie wieczyste</option>
        <option>Nakłady</option>
        <option value="otherobject">Inne</option>
    </select>
</div>
