<div class="question column if-tax">
    <span class="label-span">Podatek dochodowy</span>
    <div class="question">
        <input type="radio" id="podatek" name="podatek" value="podatek">
        <label class="smaller" for="podatek">Tak</label>
        <input type="radio" id="brakpodatku" name="podatek" value="brakpodatku">
        <label class="smaller" for="brakpodatku">Nie</label>
    </div>
</div>

<div class="question column if-othertax">
    <span class="label-span">Podatek PCC</span>
    <div class="question">
        <input type="radio" id="podatekPCC" name="podatekPCC" value="podatekPCC">
        <label class="smaller" for="podatekPCC">Tak</label>
        <input type="radio" id="brakpodatkuPCC" name="podatekPCC" value="brakpodatkuPCC">
        <label class="smaller" for="brakpodatkuPCC">Nie</label>
    </div>
</div>

<div class="question column if-othertax">
    <span class="label-span">Podatek SD</span>
    <div class="question">
        <input type="radio" id="podatekSD" name="podatekSD" value="podatekSD">
        <label class="smaller" for="podatekSD">Tak</label>
        <input type="radio" id="brakpodatkuSD" name="podatekSD" value="brakpodatkuSD">
        <label class="smaller" for="brakpodatkuSD">Nie</label>
    </div>
</div>
