<div class="question column ukur">
    <span class="label-span">Wymóg zgody na zbycie UKUR</span>
    <div class="question">
        <input type="radio" id="wymog" name="wymog" value="wymog">
        <label class="smaller" for="wymog">Tak</label>
        <input type="radio" id="brakwymogu" name="wymog" value="brakwymogu">
        <label class="smaller" for="brakwymogu">Nie</label>
    </div>
</div>

<div class="question column ukur">
    <span class="label-span">Wymóg zgody na nabycie UKUR</span>
    <div class="question">
        <input type="radio" id="wymognabycie" name="wymognabycie" value="wymognabycie">
        <label class="smaller" for="wymognabycie">Tak</label>
        <input type="radio" id="brakwymogunabycie" name="wymognabycie" value="brakwymogunabycie">
        <label class="smaller" for="brakwymogunabycie">Nie</label>
    </div>
</div>

<div class="question column ukur">
    <span class="label-span">Obowiązek z art. 2b UKUR</span>
    <div class="question">
        <input type="radio" id="obowiazek" name="obowiazek" value="obowiazek">
        <label class="smaller" for="obowiazek">Tak</label>
        <input type="radio" id="brakobowiazku" name="obowiazek" value="brakobowiazku">
        <label class="smaller" for="brakobowiazku">Nie</label>
    </div>
</div>
